<nav class="seleccion">
    My Seleccion
    <div class="circuloGeneral">
        <div class="circulo">1</div>
        <div class="circulo">2</div>
        <div class="circulo">3</div>
        <div class="circulo">4</div>
    </div>
    <button class="btn">Enviar</button>
</nav>


<style>
    .seleccion {
        background-color: rgb(28, 68, 68);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100% - 50vh);
    }

    .circuloGeneral{
        display: flex;
    }

    .circulo{
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        border-radius: 100%;
        background-color: blueviolet;
    }
    .btn{
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        color: white;
        background-color: rgba(0, 0, 0, .7);
        border: none;
        padding: 4px;
        box-shadow: 3px 3px 10px  rgba(0, 0, 0, .7);
    }
</style>